[user]
  name = Justin Nel
  email = "justin@cyber-lane.com"
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOqv6ou/mkNMU324TLjuIH0sCmh78QGcGcgD1lojSnm7

[init]
  defaultBranch = "main"

[include]
  path = ~/.config/delta/themes.gitconfig

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = decorations
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
  syntax-theme = Monokai Extended
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"

[diff]
  colorMoved = default

[merge]
  conflictstyle = zdiff3

[rerere]
  enabled = true

[push]
  default = current

[pull]
  rebase = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgSign = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential