[user]
	name = Justin Nel
	email = {{ onepasswordRead "op://Macbook/gitconfig/email" }}
	signingkey = {{ onepasswordRead "op://Employee/GitHub SSH Key/public key" }}
[commit]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
