{
  "xiaomi": {
    "type": "api",
    "key": "***REMOVED***"
  },
  "openai": {
    "type": "oauth",
    "refresh": "***REMOVED***",
    "access": "***REMOVED***",
    "expires": 1775357712267,
    "accountId": "***REMOVED***"
  },
  "google": {
    "type": "api",
    "key": "***REMOVED***"
  },
  "xiaomi-token-plan-ams": {
    "type": "api",
    "key": "***REMOVED***"
  }
}

